@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row d-flex">
        @foreach (var product in Model)
        {
            <div class="col-3 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
