@model ProductViewModel

<div class="container">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-primary text-white bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col">
                    <h3>Create New Product</h3>
                </div>
            </div>
        </div>
        <div class="card-body bg-white p-4">
            <div class="row">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-12">
                        <label asp-for="CategoryId" class="control-label">Category</label>
                        <select asp-for="CategoryId" id="category-drop-down" class="form-select">
                            <option id="loading-categories" disabled selected>Select a Category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-12">
                        <label asp-for="ProductTypeId" class="control-label">Product Type</label>
                        <select asp-for="ProductTypeId" id="product-types-drop-down" class="form-select">
                            <option class="dummy-select-item" disabled selected>Select a Product Type</option>
                        </select>
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-12">
                        <label class="btn btn-secondary">
                            Choose image <input type="file" name="file" hidden accept="image/*">
                        </label>
                    </div>

                    @* <div class="col-12">
                        <button type="button" id="add-variation" class="btn btn-secondary">+ Add Variation</button>
                    </div> *@

                    @* <div id="variation-template" style="display: none;" class="variation-item">
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-3">
                                    <label>SKU</label>
                                    <input type="text" name="Variations[INDEX].SkuString" />
                                </div>

                                <div class="col-3">
                                    <label>Quantity</label>
                                    <input type="number" name="Variations[INDEX].Quantity" />
                                </div>

                                <div class="col-3">
                                    <label>Type</label>
                                    <select name="Variations[INDEX].VariationTypeId" class="form-select">
                                        @foreach(var type in Model.VariationsTypes)
                                        {
                                            <option value="@type.Id">@type.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-3">
                                    <label>Value</label>
                                    <input name="Variations[INDEX].VariationValueId" />
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-12">
                                    <button type="button" class="remove-variation btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div> *@
                    @* </div>

                    <div id="variations-container" class="col-12">
                    </div> *@

                    <div class="form-group mt-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="/js/create-js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var variationIndex = 0;

            init(
                '@Url.Action("GetAllProductTypes", "ProductType")'
            );

            // Load categories for drop down
            loadDropDownData('@Url.Action("GetAllCategories", "Category")', 'category-drop-down');

            // Function to add a new variation
            @* $('#add-variation').click(function () {
                // Clone the template and replace INDEX with the current counter
                var newVariation = $('#variation-template').clone();
                newVariation.html(newVariation.html().replace(/INDEX/g, variationIndex));
                newVariation.removeAttr('id'); // Remove the template id
                newVariation.show(); // Make the cloned variation visible

                // Append the new variation to the container
                $('#variations-container').append(newVariation);

                variationIndex++; // Increment the counter for the next variation
            });

            $('#variations-container').on('click', '.remove-variation', function () {
                $(this).closest('.variation-item').remove();
            }); *@
        });
    </script>

}
