

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Products</h3>
        </div>
        <div class="col">
            <a asp-action="Create" class="btn btn-primary">Add New Product <i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</div>