
@model IEnumerable<ProductTypeViewModel>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Product Types</h3>
        </div>
    </div>

    <div class="row">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <p>@item.Name</p>
            }
        }
    </div>
    
</div>